<a href="https://colab.research.google.com/github/Rakshith-k/Python_Workshop/blob/main/pyWS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
x=input("Enter the value")
y="John"
print(x)
print(y)

Enter the value8
8
John

In [11]:
x,y,z=5,"Banana",5.876
print(int(x))
print(str(y))
print(float(z))

5
Banana
5.876

In [23]:
x=3
def funs():
  y=9
  z=x+y
  print(z)
funs()

12

# Exercise 1

In [24]:
carname="volvo"
print(carname)

volvo

# Exercise 2

In [25]:
x=50
print(x)
print(type(x))

50
<class 'int'>

# Exercise 3

In [28]:
x,y=5,10
print(x+y)

15

# Exercise 4

In [34]:

x,y,z=11,17,x+y
print(z)

28

In [35]:
x=5
print(type(x))

<class 'int'>

Hello World Program

In [36]:
x1="Hello World"
x2=10
x3=10.1
x4=["apple","banana","cherry"]
x5=("apple","banana","cherry")
x6=range(6)
x7={"name":"Johnwick","age":36}
x8={"apple","banana","cherry"}
x9=True

In [38]:
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>

In [44]:
x=(3+5j)
print(type(x))

<class 'complex'>

In [47]:
x=range(7)
for n in x:
 print(n)

0
1
2
3
4
5
6

In [51]:
x=range(1,5,2)
print(set(x))

{1, 3}

In [55]:
x={1,2,3,6,3,4,3,3,3,2}
print(list(x))

[1, 2, 3, 4, 6]

In [59]:
x=range(6)
print(bool(0))

False

In [65]:
x,y,z=1,1.2,6j
a,b,c=float(x),int(y),complex(x)
print(a)
print(b)
print(c)

1.0
1
(1+0j)

# Exercise 5

In [76]:
x,y=str(2),str(3)
print("x+y="+x+y)

x+y=23

In [78]:
name='Rakshith'
print(name)
print(type(name))

Rakshith
<class 'str'>

In [93]:
name="hello world"
print(name[6])
print(len(name))
print("world" in name)
print(name[-6:-1])

w
11
True
 worl

In [98]:
a,b="Hello ","World"
print(a+b)

Hello World

In [101]:
age=45
txt="My name is John,I am{}"
print(txt.format(age))

My name is John,I am45

In [119]:
txt="rakshith"
print(txt.upper())

RAKSHITH

In [136]:
inp=input("Enter something")
print(len(name))
print(name[0:4])
print(name.upper())
print(inp +"college")
inp=inp+" {}"
print(inp.format("college"))
print(inp.isdigit())

Enter somethingalvas
5
alva
ALVAS
alvascollege
alvas college
False

In [138]:
print(10+6)
print(35-13)
print(4*9)
print(78/8)
print(23%45)

16
22
36
9.75
23

In [144]:
x=7
y=3
print(x!=y)

True

In [156]:
a=int(input("Enter the value"))
b=int(input("Enter the value"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

Enter the value6
Enter the value8
14
-2
48
0.75
6

In [160]:
l=tuple(("ece","cse","ise"))
print(l)

('ece', 'cse', 'ise')

In [165]:
l=['cse','ece','ise']
l[-1]='ML'
print(l)

['cse', 'ece', 'ML']

In [166]:
thislist =["apple","banana","cherry"]
print(len(thislist))
thislist.append("Orange")
print(thislist)
print(len(thislist))

3
['apple', 'banana', 'cherry', 'Orange']
4

In [169]:
thislist=["apple","banana","cherry"]
tropical=["mango","papaya",]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [172]:
thislist=["apple","banana","cherry"]
del thislist[0]
print(thislist)
print(len(thislist))

['banana', 'cherry']
2

In [178]:
thislist=[100,50,56,74,15]
thislist=thislist[::-1]
print(thislist)

[15, 74, 56, 50, 100]

In [182]:
nameList=['Harsh','prathik','Bob','Dhruv']
print (nameList[3])

Dhruv

In [185]:
animal=['cat','dog','fish','goat']
age=[1,2,2,6]
print(animal+age)
animal.extend(age)

['cat', 'dog', 'fish', 'goat', 1, 2, 2, 6]

In [195]:
age=[1,2,3,6]
age.append(9)
print(age)
age.pop(2)
print(age)
age.count(2)

[1, 2, 3, 6, 9]
[1, 2, 6, 9]

1

In [200]:
x=("apple","banana","cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(type(x))

<class 'tuple'>

In [205]:
c=("apple","banana","kiwi")
c=list(x)
print(c)
c.append("banana")
print(c)
x=touple(c)
print(x)

['apple', 'kiwi', 'cherry']
['apple', 'kiwi', 'cherry', 'banana']

NameError: ignored